# 🚫 Ignorer tout ce qui n'est pas utile au projet Git

# Dossiers Python
__pycache__/
*.pyc
*.pyo

# Environnement virtuel
.venv_single/

# Images générées
batch_cards/*.tif
batch_cards/*.webp
batch_cards/*.jpg
batch_cards/*.jpeg
batch_cards/*.png

# Fichiers PDF générés
batch_cards/*.pdf

# Fichiers logs ou temporaires éventuels
*.log
*.tmp
